.result__html {
  background: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  min-height: 100px;
  margin-left: 10px;
}

.result__html pre {
  margin: 0;
  font-family: monospace;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}
