.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  position: relative;

  .wrapper {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    // position: relative;

    input {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 5px 0 0 5px;
      font-size: 16px;
      box-sizing: border-box;
      flex-grow: 1;
      max-height: 38px;
      color: #000;
    }

    button {
      height: 38px;
      width: 44px;
      padding: 10px;
      background-color: #f7542e;
      border: none;
      border-radius: 0 5px 5px 0;
      color: white;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        font-size: 16px;
      }
    }
  }

  .suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    max-width: 30%;
    color: #000;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        padding: 10px;
        cursor: pointer;

        &:hover {
          background-color: #f0f0f0;
        }
      }
    }
  }
}
